<article
  class="card"
  role="link"
  tabindex="0"
  (click)="navigateToProduct()"
  (keydown.enter)="navigateToProduct()"
>
  <div class="media">
    @if (photoUrls.length > 1) {
      <button
        type="button"
        class="img-nav prev"
        aria-label="Previous image"
        [disabled]="currentIndex === 0"
        (click)="prev($event)"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="photo-scroll" #photoScroller aria-label="Product images" (scroll)="onScroll()">
        @for (url of photoUrls; track $index) {
          <img class="photo" [src]="url" [alt]="title" loading="lazy" />
        }
      </div>

      <button
        type="button"
        class="img-nav next"
        aria-label="Next image"
        [disabled]="currentIndex === photoUrls.length - 1"
        (click)="next($event)"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    } @else {
      <img class="photo" [src]="photoUrls[0]" [alt]="title" loading="lazy" />
    }
  </div>

  <div class="content">
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">Handcrafted. Calm. Cozy.</p>
    <div class="row">
      <p>{{ price }} <span>RON</span></p>
    </div>
    <button
      class="add-button"
      type="button"
      aria-label="Add to cart"
      (click)="$event.stopPropagation(); addToCart.emit()"
    >
      Add to cart
    </button>
  </div>
</article>
