<article class="card">
  <div class="media">
    <img class="photo" [src]="photoUrl" [alt]="title" loading="lazy" />
  </div>

  <div class="content">
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">Handcrafted. Calm. Cozy.</p>
    <div class="row">
      <p>{{ price }} <span>RON</span></p>
    </div>
  </div>
</article>
<div>
  @if (landscape) {
    <button class="add-button" type="button" aria-label="Add to cart" (click)="addToCart.emit()">
      Add to cart
    </button>
  }
</div>
