.card {
  background: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  --product-photo-height: 400px;
}

.media {
  position: relative;
  height: var(--product-photo-height);
  flex: none;
}

.img-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 38px;
  height: 38px;
  border-radius: 200px;
  border: 1px solid transparent;
  background: var(--color-secondary);
  opacity: 70%;
  backdrop-filter: blur(8px);
  color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
}

.img-nav.prev {
  left: 10px;
}

.img-nav.next {
  right: 10px;
}

.img-nav:disabled {
  display: none;
}
.img-nav:hover {
  opacity: 100%;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.photo:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.photo-scroll {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.photo-scroll .photo {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.photo-scroll {
  scrollbar-width: none; /* Firefox */
}

.photo-scroll::-webkit-scrollbar {
  display: none; /* WebKit */
}

.content {
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  flex: 1;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-primary);
}

.subtitle {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.06em;
  color: var(--color-secondary);
}

.row {
  min-height: 0;
  color: var(--color-primary);
}

.add-button {
  margin: 0;
  margin-top: auto;
  width: 100%;
  padding: 0.85rem 1rem;
  border-radius: 4px;
  border: transparent;
  background-image:
    linear-gradient(
      135deg,
      rgba(234, 224, 202, 0.95) 0%,
      rgba(234, 224, 202, 0.72) 40%,
      rgba(234, 224, 202, 0.86) 60%
    ),
    url('/motive.png');
  background-size:
    cover,
    280px auto;
  background-repeat: no-repeat, repeat;
  background-position:
    center,
    top left;
  color: var(--color-third);
  font-family: 'Syncopate';
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  transition:
    transform var(--transition-fast),
    box-shadow var(--transition-fast),
    border-color var(--transition-fast);
}

.add-button:hover {
  box-shadow: 0 10px 30px rgba(47, 41, 41, 0.18);
  background-image:
    linear-gradient(rgba(245, 238, 218, 0.4), rgba(235, 226, 198, 0.8)),
    url('../../../public/motive.png');
  transform: translateY(-2px);
}

.add-button:active {
  transform: translateY(0);
  box-shadow: none;
}
